# Dependencies
/node_modules
/frontend/node_modules
/server/node_modules

# Build artifacts
/build
/frontend/build
/dist
/server/scripts/seedAdmin.js
/server/scripts/salonSeed.js
/server/scripts/seeder.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/frontend/.env
/server/.env
/frontend.zip

# IDE and OS files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

client/bun.lock
server/bun.lock
temp_auto_push.bat
temp_interactive_push.bat
branch_structure.json
